@use "./../utils" as *;

.inner {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;

  @include tablet {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.main {
  min-height: calc(100vh - 80px);
}
